
body {
    background-color: #e9483a;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 300px;
}
img {
    width: 200px;
    height: 300px;
    margin: 4px;
    border: 2px solid black;


}
.text1, .text2, .text4, .text3 {
    color: whitesmoke;
    background-color: black;
    position:absolute;
    width: 196px;
    font-size: 2em;
    text-align: center;
    padding: 5px;

}

.text1 {
    top: 250px;
    margin-left: 6px;
    opacity: 0.7;

}
.text2 {
    top: 250px;
    margin-left: 218px;
    opacity: 0.8;
}
.text3 {
    top: 560px;
    margin-left: 6px;
     opacity: 0.9;
}
.text4 {
    top: 560px;
    margin-left: 430px;
    opacity: 0.9;
}

.rutulys {
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 50%;
    width: 200px;
    text-align: center;
    padding: 20px;
    position: absolute;
    margin-top: -280px;
    margin-left: 450px;
    border-color: black;
    font-family:fantasy;
    font-size: 1.1em;
}
.rodykle {
    border-style:solid;
    position: absolute;
    border-color: whitesmoke transparent transparent transparent;
    border-width: 30px 80px 0px 0px;
    bottom: -20px;
    margin-left: 30px;
    border-left: 3px solid black;

}
.bride {
    background-color: #f8f8f8;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    width: 110px;
    text-align: center;
    padding: 20px;
    position: absolute;
    margin-top: -280px;
    margin-left: 250px;
    border-color: black;
    font-family:fantasy;
    font-size: 1.1em;
}
.hand-holding {
    border-style:solid;
    position: absolute;
    border-color: whitesmoke transparent transparent transparent;
    border-width: 40px 60px 0px 10px;
    bottom: -26px;
    margin-left: 5px;
    border-left: 3px solid black;
}
